<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>Account verification</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="padding: 0; margin: 0">
<div style="width: 100%">
   <div style="text-align: center; padding: 30px 0 60px">
      <p style="font-weight: 600; font-size: 16px; color: #0d1a26">
         {{firstname}}, please to confirm your email <a href="{{url}}" style="color: black">click this link</a>.
      </p>
   </div>
   <div style="width: 100%; height: 40px; background-color: #0d1a26; padding: 30px 20px">
      <div style="color: white; font-size: 20px; font-weight: 600; margin: 0; padding: 0">THE RACING MANAGER</div>
   </div>
</div>
</body>
</html>